.logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #532a6c;
    font-weight: bold;
}


nav {
    text-decoration-color: #94a3b8;
  color: #94a3b8;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
nav:hover {
    background-color: #94a3b8;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.content {
    margin-left: var(--sidebar-width);
    padding: 2rem;
}
